:root {
    --base-clr: linear-gradient(135deg, rgb(1, 1, 90), black);
    --text-clr: #ffffff;
    --input-clr: #e9f0f9;
    --btn-clr: #6f42c1;
    --btn-hover-clr: #5a32a1;
}

* {
    font-family: Arial, sans-serif;
}

.App{
    background: var(--base-clr);
    min-height: 100vh;
    padding: 5px;
}